.app {
  display: flex;
  margin-top: .6rem;
}

.translations {
  display: flex;
  margin-left: auto;
}

.translations > a {
  padding: 0 6px;
  color: var(--cwhite);
  text-decoration: none;
}

.translations > a:not(:last-child) {
  border-right: 1px solid var(--cwhite);
}

.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem .6rem;
}

.nav > div:first-of-type {
  margin-left: 1rem;
}

.nav > div:nth-of-type(2) {
  margin-left: auto;
}

.header {
  padding: 1rem 10%;
}