.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header > div:first-of-type {
  margin-left: 1rem;
}

.translations {
  display: flex;
  margin-left: auto;
}

.translations > a {
  padding: 0 6px;
  color: var(--cwhite);
  text-decoration: none;
}

.translations > a:not(:last-child) {
  border-right: 1px solid var(--cwhite);
}